/*-------------------------------------------------------------------------------------------------*/
/*	Commentaires styles
---------------------------------------------------------------------------------------------------*/
nav#bel_cms_comment {
	background: rgba(255, 255, 255, 1);
	display: block;
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}
	nav#bel_cms_comment ul {
		list-style: none;
		padding: 0;
		border-top: 1px solid #e6ecf5;
		border-bottom: 1px solid #e6ecf5;
		margin: 25px -25px 0;
		padding-left: 35px;
	}
		nav#bel_cms_comment ul li.bel_cms_comment_item {
			padding: 25px;
			border-bottom: 1px solid #e6ecf5;
			position: relative;
			border-left: 1px solid #e6ecf5;
			text-align: left !important;
		}

		nav#bel_cms_comment ul li::before {
			content: "";
			position: absolute;
			width: 9px;
			height: 9px;
			top: 40px;
			left: -5px;
			background-color: #fafbfd;
			border-radius: 100%;
			border: 1px solid #c2c5d9;
		}
		nav#bel_cms_comment ul li.bel_cms_comment_item:last-child {
			border-bottom: none;
		}
			.bel_cms_comment_author {
				margin-bottom: 20px;
				display: inline-block;
				vertical-align: middle;
			}
				.bel_cms_comment_author a {
					display: inline-block;
					vertical-align: top;
				}
				.bel_cms_comment_author img {
					width: 26px;
					height: 26px;
					border-radius: 100%;
					overflow: hidden;
					margin-right: 12px;	
					margin-top: -25px
				}
			.bel_cms_comment_date {
				display: inline-block;
			}
				.bel_cms_comment_date a {
					display: block;
					text-decoration: none;
				}
#bel_cms_comment_more {
	text-align: center;
	padding: 15px 0;
	font-size: 12px;
	color: #515365;
	display: block;
	font-weight: 700;
	margin: 0 auto;
	border-bottom: 1px solid #e6ecf5;
}
#bel_cms_comment_textarea {
	padding: 25px;
	border-bottom: 1px solid #e6ecf5;
}
#bel_cms_comment textarea {
	display: block;
	min-height: 60px;
	height: 60px;
	border: 1px solid #e6ecf5;
	border-radius: .25rem;
	width: 100%;
	padding: 5px;
	margin: 20px 20px 0;
	width: calc(100% - 40px);
}
#bel_cms_comment button {
	margin: 20px;
	float: right;
}
/*-------------------------------------------------------------------------------------------------*/
/*	Pagination styles
---------------------------------------------------------------------------------------------------*/
#belcms_pagination {
	display: inline-block;
	margin: 20px 1%;
	padding: 0 15px;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	z-index: 10;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	max-width: 98%;
}
#belcms_pagination ul {
	display: flex;
	text-decoration-style: none;
	padding: 0;
	margin: 0;
	list-style: none;
}
.belcms_pagination_item {
	float: left;
	text-decoration: none;
}
.belcms_pagination_item a {
	display: block;
	color: rgba(209, 207, 207, 1);
	padding: 8px 16px;
	border-left: 1px solid rgba(209, 207, 207, .5);
	text-decoration: none;
}
.belcms_pagination_item.active a {
	background-color: green;
	color: #FFF;
	cursor: not-allowed;
}
.belcms_pagination_item.disabled a {
	cursor: not-allowed;
}